/* .App {
  text-align: center;
} */

.App-header {
  background-color: #F55A5A;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 0.90375rem;
  color: white;
  font-weight: 500;
  padding: 1.125em;
}

.App-title{
  margin-left: 0.4375em;
  font-weight: 500 !important;
}

.App-link {
  color: #61dafb;
}

section.App-content{
  
  display: flex;
}

img.App-image{
  width: 15.625rem;
  height: 21rem;
  border-radius: 0.5em;
}

.country-container{
  border: 2px solid red;
  display: flex;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}