/* .App {
  text-align: center;
} */


.App-content{
  max-width: 1400px;
  margin: 5.75rem auto;
  width: 85%;
  /* border: 2px solid blue; */
}

h4.country-name{
  margin-left: 0.625em;
  font-size: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

a.location-link{
  text-transform: lowercase;
  text-decoration-line: underline;
  color: #918E9B;
  letter-spacing: normal;
  line-height: 32px;
  font-weight: 400;
}

.App-header {
  background-color: #F55A5A;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 0.90375rem;
  color: white;
  font-weight: 500;
  padding: 1.125em;
}

.App-title{
  margin-left: 0.4375em;
  font-weight: 500 !important;
}

.App-link {
  color: #61dafb;
}

section.App-content{
  
  display: flex;
}

img.App-image{
  width: 20rem;
  height: 26.875rem;
  border-radius: 0.5em;
  /* max-width: 100%; */
  object-fit: cover;
}

.country-container{
  /* border: 2px solid red; */
  display: flex;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  margin-left: 3.04em;
  margin-top: auto;
  margin-bottom: auto;
}

h1.location-title{
  font-size: 4rem;
  margin: 0.625rem 0;
  margin-bottom: 1.125rem;
  line-height: 4.8125rem;
  font-weight: 700;
}

h4.duration{
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

p.description{
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 150%;
  max-width: 52rem;
  /* border: 2px solid red; */
  text-overflow: inherit;
}